@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
// font weight => 500,700

// colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// media queries
$screen-lg-min: 969px;
$screen-sm-max: 968px;